.cont{
    width: 90%;
    height: 90svh;
    margin: 0 auto ;
    @media screen and (min-width: 600px){
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    @media screen and (min-width: 1280px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }
    .imgArea{
        display: none;
        @media screen and (min-width: 600px) {
            width: 100%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url("../../assets/images/header md.png");
            background-size: 512px 296px;
            background-position: center center;
            background-repeat: no-repeat;
        }
        @media screen and (min-width: 1280px){
            width: 55%;
            height: 100%;
            background-image: url("../../assets/images/header lg.png");
            background-size: 698px 374px;
        }
    }
    .txtArea{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1em;
        @media screen and (min-width: 600px) {
            width: 100%;
            height: 50%;        
            justify-content: flex-start;
            gap: 2em;
            align-items: center;
        }
        @media screen and (min-width: 1280px){
            width: 45%;
            height: 100%;
            justify-content: center;
        }
        h1:first-letter, h4:first-letter, p:first-letter{
            text-transform: uppercase;
        }
        h1, h4, p{
            width: 90%;        }
        h1{
            font-family: "Mont bold";
            font-size: 3em;
            @media screen and (min-width: 1280px) {
                font-size: 4em;
            }
        }
        h4{
            color: #cccccc71;
            font-family: "Mont";
        }
        .buttonsContainer{
            width: 90%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 1em;
            @media screen and (min-width: 600px) {
                width: 90%;
                flex-direction: row;
                gap: 3em;
            }
            @media screen and (min-width: 1280px) {
            }
            a{
                width: 180px;
                border-radius: 5px;
                text-align: center;
                padding: 1em 0;
            }
        }
    }
}